<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LibraryManagementSystem_Diptendu_Kundu</display-name>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF\log4j.properties</param-value>
  </context-param>
  <context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>D:\E\apache-tomcat-7.0.88\webapps\data</param-value> 
  </context-param>
  <error-page>
	<error-code>404</error-code>
	<location>/ErrorHandlerServlet</location>
  </error-page>
  <error-page>
	<error-code>403</error-code>
	<location>/ErrorHandlerServlet</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type >
    <location>/ErrorHandlerServlet</location>
  </error-page>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>com.handler.servlets.ErrorHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>com.handler.servlets.LogInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestHandler</servlet-name>
    <servlet-class>com.handler.servlets.RequestHandlerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserCreation</servlet-name>
    <servlet-class>com.handler.servlets.UserCreationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogInFailed</servlet-name>
    <servlet-class>com.handler.servlets.LogInFailedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogInHome</servlet-name>
    <servlet-class>com.handler.servlets.LogInHomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.handler.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionTimedOut</servlet-name>
    <servlet-class>com.handler.servlets.SessionTimedOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDeletion</servlet-name>
    <servlet-class>com.handler.servlets.UserDeletionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserViewServlet</servlet-name>
    <servlet-class>com.handler.servlets.UserViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdation</servlet-name>
    <servlet-class>com.handler.servlets.UserUpdationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookBulkUpload</servlet-name>
    <servlet-class>com.handler.servlets.BookBulkUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestHandler</servlet-name>
    <url-pattern>/RequestHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCreation</servlet-name>
    <url-pattern>/UserCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInFailed</servlet-name>
    <url-pattern>/LogInFailedServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInHome</servlet-name>
    <url-pattern>/LogInHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionTimedOut</servlet-name>
    <url-pattern>/SessionTimedOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeletion</servlet-name>
    <url-pattern>/UserDeletionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserViewServlet</servlet-name>
    <url-pattern>/UserViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdation</servlet-name>
    <url-pattern>/UserUpdationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookBulkUpload</servlet-name>
    <url-pattern>/BookBulkUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>